@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700;800&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Roboto+Slab:wght@500;700;800&family=Roboto:wght@500&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #242E3A;

}

body {
	height: 10000px;
}

/*Text*/

h1 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

p {
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

.abu {
	font-size: 18px;
	color: #878a8f;
}

/*Image*/

.img-main {
	width: 80%;
	margin: auto;
}

.img-logo {
	width: 50px;
	border-radius: 50%;
}

/*List*/

.navbar-right ul {
	display: flex;
}

.navbar-right li {
	list-style: none;
	margin-left: 15px;
	transition: 0.3s ease;
	font-family: 'Roboto Slab', serif;
}



/*Link*/

.logo-box p {
	margin-left: 6px;
	font-size: 20px;
	font-weight: 700;

	font-family: 'Archivo', sans-serif;
}

.navbar-right li a {
	text-decoration: none;
	display: block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

.navbar-right li a:hover {
	color: #5B7C9B;
}


/*Navbar*/

.navbar  {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	z-index: 1;
	margin: auto;
	padding: 10px 3%;
	background-color: white;
}

.navbar-left {
	width: 100%;
	display: flex;
	align-items: center;
	/*background-color: pink;*/
}


.navbar-right {
	width: 60%;
	display: flex;

	align-items: center;
	justify-content: flex-end;
	background-color: white;
}

.logo-box {
	display: flex;
	padding: 22px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	color: #242E3A;

}



/*Main*/

.main {
	/*background-color: yellow;*/
	width: 90%;
	margin: auto;
	padding: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	transform: translateY(230px);
	font-family: 'Roboto Slab', serif;
}

.main-left {
	/*background-color: blueviolet;*/
	width: 50%;
}

.welcome {
	width: 80%;
	margin: auto;
}

.main-right {
	display: flex;
	align-items: center;
	/*background-color: pink;*/
	width: 50%;
}

/*toggle*/

.toggle-button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.toggle-button .bar {
	width: 100%;
	height: 6px;
	background-color: #242E3A;
	border-radius: 10px;
}

/*Media Query*/

@media (max-width: 1750px) {
	.main {
		width: 95%;
	}

	.welcome{
		width: 100%;
	}
}

@media (max-width: 1400px) {
	.main {
		flex-direction: column-reverse;
	}

	.main-right {
		width: 95%;
	}

	.main-left {
		width: 95%;
		text-align: center;
		transform: translateY(40px);
	}
}

@media (max-width: 1000px) {
	
	.main {
		transform: translateY(170px);
	}

	.main-left {
		width: 100%;
	}

	.toggle-button {
		display: flex;
	}

	.navbar-right {
		display: none;
		width: 100%;
		border-bottom: 2px solid black;

	}
	
	.navbar {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-right ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-right li {
		text-align: center;
	}

	.navbar-right li a {
		padding: .5rem 1rem;
	}

	.navbar-right.active {
		display: flex;
	}


}