@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700;800&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Roboto+Slab:wght@500;700;800&family=Roboto:wght@500&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #242E3A;

}

.bg {
	width: 2000px;
	height: 1200px;
	background-position: center center;
	position: fixed;
	z-index:-1;
	filter: blur(10px) brightness(0.8) contrast(70%);
}

.kosong {
	width: 100%;
	height: 189px;
}

.kosong1 {
	width: 100%;
	height: 120px;
}

.kosong2 {
	width: 100%;
	height: 25px;
}



/*Text*/

h1 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

p {
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

.white {
	color: white;
}

.p-abu {
	font-size: 18px;
	color: #878a8f;
}

.p-white{
	font-size: 18px;
	color: white;
}

.p-whites{
	font-size: 25px;
	color: white;
}

.p-black{
	font-size: 18px;
	color: black;
}

.a-white {
	font-size: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;

}

.kotakkontak {
	display: block;
	margin: auto;
	text-align: center;
}


.mid {
	text-align: center;
}

.justify {
	text-align: justify;
}



/*Image*/

.img-main {
	width: 80%;
	margin: auto;
}

.img-logo {
	width: 50px;
	border-radius: 50%;
}

.img-container {
	width: 100%;
	border-radius: 40px;
}

/*List*/

.navbar-right ul {
	display: flex;
}

.navbar-right li {
	list-style: none;
	margin-left: 15px;
	transition: 0.3s ease;
	font-family: 'Roboto Slab', serif;
}



/*Link*/

.logo-box p {
	margin-left: 6px;
	font-size: 20px;
	font-weight: 700;

	font-family: 'Archivo', sans-serif;
}

.navbar-right li a {
	text-decoration: none;
	display: block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

.navbar-right li a:hover {
	color: #A9A9A9;
}


/*Navbar*/

.navbar  {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	z-index: 2;
	padding: 10px 3%;
	background-color: white;
}

.navbar-left {
	width: 100%;
	display: flex;
	align-items: center;
	/*background-color: pink;*/
}


.navbar-right {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: white;
}

.logo-box {
	display: flex;
	padding: 22px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	color: #242E3A;

}



/*Main*/

.main {
	/*background-color: yellow;*/
	width: 100%;
	position: relative;
	margin: auto;
	padding: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	/*transform: translateY(230px);*/
	font-family: 'Roboto Slab', serif;
}

.main-left {
	/*background-color: blueviolet;*/
	width: 50%;
}

.welcome {
	width: 80%;
	margin: auto;
}

.main-right {
	display: flex;
	align-items: center;
	/*background-color: pink;*/
	width: 50%;
}

/*toggle*/

.toggle-button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.toggle-button .bar {
	width: 100%;
	height: 6px;
	background-color: #242E3A;
	border-radius: 10px;
}

/*Container*/

.container {
	width: 100%;
	background-color: #242E3A;
	display: flex;
	align-items: center;
	margin: auto;
	padding: 10px;
/*	transform: translateY(280px);*/
}

.container-left {
	
	width: 40%;
}

.container-right {
	
	padding: 10px;
	width: 60%;
}

/*footer*/

footer {
	text-align: center;
	background-color:#242E3A;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;

}

.fa-brands {
	color: white;
	font-size: 35px;
}

.fa-regular {
	color: white;
	font-size: 35px;
}

.logos {
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	padding: 10px 0;
	width: 250px;
	margin: auto;
}

.fa-brands:hover {
	color: #A9A9A9;
}

.fa-regular:hover {
	color: #A9A9A9;
}

.copy {
	font-size: 17px;
	color: white;
}

/*Media Query*/

@media (max-width: 1750px) {
	.main {
		width: 100%;
	}

	.welcome{
		width: 100%;
	}

	.kosong2 {
		display: none;
	}
}

@media (max-width: 1400px) {
	.main {
		flex-direction: column-reverse;
	}

	.main-right {
		width: 95%;
	}

	.main-left {
		width: 95%;
		text-align: center;
		/*transform: translateY(40px);*/
	}

}

@media (max-width: 1000px) {
	
	.main {
		/*transform: translateY(170px);*/
	}

	.main-left {
		width: 100%;
	}

	h1 {
		font-size: 40px ;
	}

	p {
		font-size: 20px ;
	}

	.p-white {
		font-size: 15px;
	}

	.toggle-button {
		display: flex;
	}

	.navbar-right {
		display: none;
		width: 100%;
		border-bottom: 2px solid black;
		border-top: 2px solid black;

	}
	
	.navbar {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-right ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-right li {
		text-align: center;
	}

	.navbar-right li a {
		padding: .5rem 1rem;
	}

	.navbar-right.active {
		display: flex;
	}

	.container {
		flex-direction: column;
	}

	.container-left {
		width: 70%;
	}

	.container-right {
		margin-top: 10px;
		width: 95%;
	}



}